.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: auto;
}

.title {
  margin: 0 0 15px 0;
  font-size: 1.3rem;
  font-weight: 400;
}

.input {
  padding: 5px;
  border-radius: 7px;
  background-color: #f2f2f2;
  color: #111111;
  margin: 0 0 10px 0;
  border: 1px solid #2f2f2f2f;
  outline: none;
}

.btn {
  background-color: #111;
  color: #f2f2f2;
  border-radius: 7px;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 300ms ease;
}

.btn:hover {
  background-color: #222222;
  box-shadow: 0 0 5px #11111128;
}